/* .controls * {
    outline: 1px solid greenyellow;
} */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6vh;
    column-gap: 8vw;
    min-width: 300px;
    width: 100%;
}

.column {
    flex-direction: column;
    row-gap: 10vh;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 2vh;
    column-gap: 10vw;
    margin: clamp(10px, 5%, 15px) 0px;
    width: fit-content;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    width: fit-content;
}

.controls button {
    margin: clamp(10px, 5%, 15px) 0px;
}

.options {
    display: flex;
    justify-content: center;
    column-gap: 0.2vw;
    align-items: center;
    width: fit-content;
    align-self: center;
}

.hidden {
    display: none;
}