.display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 5vh;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 19vw;
    height: fit-content;
    cursor: pointer;
}

.display img {
    height: clamp(5vh, 12vw, 9vh);
    max-width: 20vw;
    margin-bottom: 1vh;
}

.text {
    font-size: clamp(12px, 1.8vw, 16px);
}

.hidden {
    display: none;
}

.enterAnimation {
    animation: appear 0.7s both 0.1s, fade-in 1s both 0.2s;
}

.exitAnimation {
    animation: fade-out 0.5s both;
}

@keyframes appear {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.01%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}