.display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
}

.display img {
    height: clamp(50px, 13vw, 150px);
    max-width: 20vw;
    margin-bottom: 2vh;
    animation: appear 0.7s both 0.1s, fade-in 1s both 0.2s;
}

.text {
    font-size: clamp(15px, 2vw, 18px);
}

.hidden {
    display: none;
}

@keyframes appear {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.01%;
    }
    100% {
        opacity: 100%;
    }
}