@font-face {
    font-family: 'fugaz';
    src: url(../../font/Fugaz_One/FugazOne-Regular.ttf);
}

@font-face {
    font-family: 'viga';
    src: url(../../font/Viga/Viga-Regular.ttf);
}

/* .header * {
    outline: 1px solid greenyellow;
} */

.header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    height: fit-content;
    transform: translateY(25vh);
}

.lifted {
    transform: translateY(0vh);
    transition: 0.5s ease-in-out;
}

.no_transition {
    transition: none;
}

.header img {
    width: clamp(240px, 80vw, 400px);
}

.game_name {
    margin-bottom: clamp(30px, 5vh, 60px);
    font-size: clamp(12px, 4vw, 20px);
    font-family: 'fugaz';
    color: rgb(238, 204, 55);
    text-shadow:
    -2px -2px 0 rgb(50, 84, 158),  
     2px -2px 0 rgb(50, 84, 158),
    -2px 2px 0 rgb(50, 84, 158),
     2px 2px 0 rgb(50, 84, 158);
}

.header button {
    margin-bottom: clamp(30px, 8vh, 100px);
    padding: 5px clamp(6px, 2vw, 10px) 0;
    cursor: pointer;
    font-family: 'fugaz';
    font-size: clamp(18px, 5vw, 25px);
    text-align: center;
    background-color: rgb(50, 84, 158);
    color: rgb(238, 204, 55);
    border: 2px solid rgb(238, 204, 55);
    border-radius: 25px;
}

button:hover {
    transform: scale(110%);
    transition: 0.2s ease-in-out;
}

.diff {
    margin-bottom: clamp(12px, 5vh, 30px);
    font-size: clamp(11px, 2vw, 17px);
    font-family: 'fugaz';
    color: rgb(238, 204, 55);
    text-shadow:
    -2px -2px 0 rgb(50, 84, 158),  
     2px -2px 0 rgb(50, 84, 158),
    -2px 2px 0 rgb(50, 84, 158),
     2px 2px 0 rgb(50, 84, 158);
}

.option {
    cursor: pointer;
    font-family: 'fugaz';
    font-size: clamp(14px, 2.5vw, 20px);
    padding: 2px clamp(6px, 2vw, 10px) 0;
    color: rgb(238, 204, 55);
    background-color: rgba(50, 84, 158, 0);
    border: 2px solid rgba(238, 204, 55, 0);
    border-radius: 25px;
    text-shadow:
    -2px -2px 0 rgb(50, 84, 158),  
     2px -2px 0 rgb(50, 84, 158),
    -2px 2px 0 rgb(50, 84, 158),
     2px 2px 0 rgb(50, 84, 158);
}

.option:hover {
    transition: 0.1s ease-in-out;
}

.chosen {
    background-color: rgb(50, 84, 158);
    border: 2px solid rgb(238, 204, 55);
    border-radius: 25px;
    transition: 0.5s ease-in-out;
}

.option_container {
    display: flex;
    align-items: center;
    gap: 6vw;
}

.header .hidden {
    display: none;
}

.endgame {
    display: flex;
    font-family: 'fugaz';
    text-align: center;
    line-height: 1.5rem;
    font-size: clamp(10px, 4vw, 24px);
    padding: clamp(14px, 3vh, 200px);
    color: rgb(238, 204, 55);
    background-color: rgb(50, 84, 158);
    border: 2px solid rgb(238, 204, 55);
    border-radius: 25px;
    margin-top: 10vh;
}

.howto {
    display: flex;
    font-family: 'viga';
    text-align: center;
    line-height: 1.8rem;
    font-size: clamp(12px, 2.2vw, 18px);
    padding: clamp(0px, 1vw, 100px);
    color: rgb(238, 204, 55);
    background-color: rgb(50, 84, 158);
    border: 2px solid rgb(238, 204, 55);
    border-radius: 15px;
    margin-top: 10vh;
}

.lost {
    transform: scale(85%) translate(-10% -7%);
    margin-bottom: -28vh;
}

.won {
    transform: scale(90%) translateY(-5%);
    margin-bottom: -30vh;
}